.login {
  padding: 20px 0 100px 0;
}

.login h1 {
  color: green;
  padding-bottom: 20px;
}

.login .log {
  padding-top: 20px;
}

.login .log span {
  display: block;
  color: #212529;
  font-size: 15px;
  padding-bottom: 10px;
}

.login .log a {
  color: green;
}
