.register {
  padding: 20px 0 100px 0;
}

.register h1 {
  color: green;
  padding-bottom: 20px;
}

.register .sign {
  padding-top: 20px;
}

.register .sign span {
  color: #212529;
  font-size: 15px;
}

.register .sign a {
  color: green;
}
